.weather-icon {
  margin: 30px -20px 0px 60px;
}

.weather {
  border-radius: 15px;
}

.weather-desc {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Ubuntu Nerd Font';
  margin: 0px 65px 0px 0px;
}

.temperature {
  font-size: 35px;
  font-weight: 900;
}


.weather-prec-1,
.weather-prec-2,
.weather-prec-3,
.weather-prec-4,
.weather-prec-5 {
  font-size: 15px;
  color: rgb(80, 80, 230);
  font-weight: bold;
}

.weather-temp-1,
.weather-temp-2,
.weather-temp-3,
.weather-temp-4,
.weather-temp-5 {
  font-size: 16px;
  padding: 10px;
}

.weather-icon-1,
.weather-icon-2,
.weather-icon-3,
.weather-icon-4,
.weather-icon-5 {
  font-size: 35px;
  padding: 5px;
  margin-left: 10px;
}

.weather-week-1,
.weather-week-2,
.weather-week-3,
.weather-week-4,
.weather-week-5 {
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  margin: 0px 25px;
}


.weather-desc-1,
.weather-desc-2,
.weather-desc-3,
.weather-desc-4,
.weather-desc-5 {
  font-size: 14px;
  padding: 10px;
  margin: 0px 10px;
  margin-bottom: 10px;

}
