.screenshot-icon {
  color: #ffd5cd;
  font-size: 60px;
  margin-right: 5px;
  font-family: 'Ubuntu Nerd Font';
}

.sidemenu {
  margin: 20px 0px;

  .buttons-space {
    .button-item {
      margin: 00px 5px;
    }
  }

  .greeter {
    margin-top: 10px;
    padding: 0px 20px;
    font-size: 30px;
    font-family: 'Ubuntu Nerd Font';
  }

  .greeter-user {
    padding: 0px 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(190, 230, 230);
  }

  .quote {
    font-size: 18px;
    font-family: serif;
    font-style: italic;
    color: rgb(190, 230, 230);
    border-bottom: 1px solid rgba(190, 230, 230, 0.6);
    margin: 30px;
    font-weight: 500;
    padding: 0px 0px 40px 0px;
  }

  .profile-label-time {
    color: rgb(190, 230, 230);
    font-size: 35px;
    font-family: "Hack";
  }

  .profile-desc {
    color: rgb(190, 230, 230);
    padding: 5px 0px;
    font-size: 16px;
    margin: 0px 10px;
    margin-left: 50px;
    font-family: "Hack";
  }

  .box-profile {
    font-weight: bold;
    margin: 20px 20px 10px 50px;
  }


  .profile-img {
    border: 5px solid rgb(180, 220, 220);
    border-radius: 50%;
  }


  .power-menu-side {
    font-size: 28px;
    font-weight:700;
    font-family: "Ubuntu Nerd Font";

    eventbox {
      margin: 0;
      padding: 0;
    }


    button {
      all: unset;
      border: 4px solid rgb(180, 220, 220);
      border-radius: 18px;
      padding:10px;
      margin:25px 15px;
    }

    button:hover {
      background-color: rgb(60, 60, 60);
      transition: background .2s ease-in-out;
    }
  }

  border-radius: 15px;

  scale.night-light.disabled {
    opacity: 0;
  }

  scale.night-light {
    margin-left: 3px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 5px;

    trough {
      padding: 0px;
      border-radius: 10px;
      background-color: rgb(100, 100, 90);

      slider {
        all: unset;
        background-color: rgb(200, 200, 200);
      }

      highlight {
        all: unset;
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(220, 220, 200);

      }

    }
  }

  .box-label {

    font-size: 13px;
    font-weight: bold;

  }

  box.box-wifi-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-wifi-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-wifi {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-wifi,
    .button-wifi-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-wifi.active,
    .button-wifi-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }


  box.box-bluetooth-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-bluetooth-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-bluetooth {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-bluetooth,
    .button-bluetooth-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-bluetooth.active,
    .button-bluetooth-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }


  box.box-not_disturb-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-not_disturb-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-not_disturb {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-not_disturb,
    .button-not_disturb-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-not_disturb.active,
    .button-not_disturb-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }

  box.box-nightlight-buttons {
    color: white;

    .seperator {
      font-size: 2px;
      margin-top: 10px;
    }


    .button-nightlight-arrow {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .button-nightlight {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .button-nightlight,
    .button-nightlight-arrow {
      margin: 15px 0px 5px 0px;
      font-size: 20px;
      padding: 12px;
      background-color: rgb(70, 70, 70);
    }

    .button-nightlight.active,
    .button-nightlight-arrow.active {
      background-color: rgb(100, 180, 180);
    }
  }
}
