* {
  --color-back: #282c34;
  --color-fore: #bbc2cf;
  --color-01: #1c1f24;
  --color-02: #ff6c6b;
  --color-03: #98be65;
  --color-04: #da8548;
  --color-05: #51afef;
  --color-06: #c678dd;
  --color-07: #5699af;
  --color-08: #202328;
  --color-09: #5b6268;
  --color-10: #da8548;
  --color-11: #4db5bd;
  --color-12: #ecbe7b;
  --color-13: #3071db;
  --color-14: #a9a1e1;
  --color-15: #46d9ff;
  --color-16: #dfdfdf;
}
