.notifications {
  border-radius: 15px;
}

.notifications-menu-side {
  min-height: 680px;
  margin: 10px;

  .notification-box-content {
    margin: 5px;
  }

  .notification-scroll {
    min-height: 700px;
  }

  .no-notif {
    font-size: 15px;
    margin-top: 20px;
  }

  .notif-line-icon-screen {
    border-radius: 5px;

    .icon-notif-screenshot {
      margin: 8px;
      border-radius: 5px;
    }



    .buttons-screenshot {
      padding: 10px;

    }

    .notif-screen-button-delete {
      padding: 12px;
      border-radius: 5px;
      background-color: rgb(230, 100, 100);
      margin: 3px 45px;
      color: rgb(250, 250, 220);
      font-weight: bold;
    }

    .notif-screen-button-open {
      padding: 12px;
      margin: 3px 45px;
      border-radius: 5px;
      background-color: rgb(100, 200, 200);
      color: rgb(250, 250, 220);
      font-weight: bold;

    }


  }

  .notif-line-icon {
    margin: 10px;
  }

  .icon-notif {
    border-radius: 5px;
    border: 5px solid rgb(100, 200, 200, 0.4);
  }

  .box-labels-notif {
    padding: 20px;
  }

  .notif-item-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;


    background-color: rgba(80, 150, 150, 0.1);
    font-weight: bold;
    color: rgb(250, 250, 220);
    padding: 3px;

    .notif-dismiss-button {
      font-size: 20px;
      background-color: transparent;
      color: rgb(200, 100, 100);
    }

  }


  .notif-item {
    border-radius: 5px;
    margin: 10px 5px;
    background-color: rgb(40, 40, 40, 0.9);
  }

  .notification-item-title {
    font-size: 18px;
    font-weight: bold;
  }



  .notification-message {
    font-size: 14px;
  }


  .notifications-menu-header {
    background-color: rgb(60, 60, 60, 0.5);
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 5px;

    .clear-history-button {
      font-size: 25px;
      color: rgb(200, 200, 200, 0.6);
      background-color: transparent;
    }
  }

  .notification-title {
    color: rgba(190, 230, 230, 0.9);
    font-size: 22px;
    font-weight: bold;
  }

}
